<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pegadaian.filmapps">

    <uses-permission android:name="android.Manifest.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Film Description"
            android:name=".view.FilmDescription"
            android:parentActivityName=".view.Dashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.Dashboard"/>
        </activity>
        <activity
            android:label="Film Form"
            android:name=".view.FormInput"
            android:parentActivityName=".view.Dashboard">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".view.Dashboard"/>
        </activity>
    </application>

</manifest>